{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="https://kit.fontawesome.com/d533f9fc0c.js" crossorigin="anonymous"></script>
	<title>Sign up - QuoteDeck</title>
	
</head>

<body>
	<div class="container">
		<div class="wrapper">
			<div class="login-text">
				<button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button>
				<form action="" method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<button class="login-btn" type="submit">Sign Up</button>
				</form>
					<div class="log-in">
						<p>Have an already existing account? <a class="login-link" href="{% url 'login' %}">Login</a></p>
						
					</div>
			</div>
			<div class="call-text">
				<h1>An unlimited access to <span>Quotes</span></h1>
				<button class="GS-btn">Get started</button>
			</div>
		
		</div>
	</div>
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>